body {
  font-family: serif;
  color: #000000;
}

.container {
  text-align: center;
  width: 150%;
}

.page-header {
  text-align: center;
  font-size: 55pt;
}

#dice {
  width: 80px;
  height: 80px;
  background: #F5F5F5;
  border: #999 1px solid;
  font-size: 56px;
  text-align: center;
  margin: 5px;
  margin-top: 50px;
}

.btn {
  margin-top: 15px;
  margin-left: 10px;
}
