body {
  font-family: serif;
  color: #000000;
}

.container {
  text-align: center;
  width: 150%;
}

#content {
  padding-top: 10%;
}

.page-header {
  text-align: center;
  font-size: 65pt;
  margin-bottom: 75px;
}

#dice {
  width: 80px;
  height: 80px;
  background: #000000;
  border: #000000 1px solid;
  color: #FFFFFF;
  font-size: 55px;
  text-align: center;
  margin: 5px;
  margin-top: 50px;
}

.btn {
  margin-top: 35px;
  margin-left: 20px;
  font-size: 15pt;
}
